################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.AndroidStudio3.0/config/codestyles/Default.xml
/.dotnet
/.gradle
/Videos
/Tracing/WPPMedia
/source/repos
/Searches
/Saved Games
/Pictures
/OneDrive
/Music
/MicrosoftEdgeBackups/backups/MicrosoftEdgeBackup20180331
/Links
/IntelGraphicsProfiles
/Intel/Logs
/Favorites
/Downloads
/Documents
/Desktop
/Deneme2
/Contacts
/Belgelerrr
/AppData
/AndroidStudioProjects/BirinciUygulama
/.AndroidStudio3.0
/.android
/.bash_history
/.gitconfig
/Deneme
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{ddb541af-1f93-11e8-95e5-0028f8381580}.TxR.1.regtrans-ms
/NTUSER.DAT{ddb541b0-1f93-11e8-95e5-0028f8381580}.TM.blf
/NTUSER.DAT{ddb541af-1f93-11e8-95e5-0028f8381580}.TxR.blf
/NTUSER.DAT{ddb541af-1f93-11e8-95e5-0028f8381580}.TxR.2.regtrans-ms
/NTUSER.DAT{ddb541af-1f93-11e8-95e5-0028f8381580}.TxR.0.regtrans-ms
/NTUSER.DAT{ddb541b0-1f93-11e8-95e5-0028f8381580}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{ddb541b0-1f93-11e8-95e5-0028f8381580}.TMContainer00000000000000000001.regtrans-ms
/ntuser.ini
