################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.AndroidStudio3.0/config/codestyles/Default.xml
